@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: white;
}

p {
  margin: 5px 0;
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  max-height: 300px;
  border-radius: 10px;
}

.marque{
  background-color: white;
  color: black;
}

.container {
  max-width: 90%;
  overflow: auto;
}

.head-container{
  background-color: white;
  color:black;
  font-size: 1em;
}

.foot-container{
  background-color: white;
  width: 100%;
  color:black;
  font-size: 1em;
  padding-left: 50px;
  bottom:0;
}

.btn {
  display: inline-block;
  background: steelblue;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-back {
  background: steelblue;
  color: white;
  margin-top: 60px;
  margin-left: 30px;;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 70px;
}

.card {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-page {
  padding: 15px 30px;

}

.post-title {
  margin: 10px 0;
}

.post-date {
  margin-bottom: 20px;
  padding: 3px 10px;
}

.post-body ul,
ol {
  font-size: 110%;
  line-height: 2.3;
  font-weight: bold;
  margin: 10px 0;
}

.post-body pre {
  background: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
}

@media (max-width: 500px) {
  .posts {
    grid-template-columns: 1fr;
  }
}